name: fedora-build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: fedora
    runs-on: ubuntu-latest
    container:
      image: fedora:43

    steps:
    - uses: actions/checkout@v4
    - run: cat /etc/os-release
    - name: install dependencies
      run: |
       dnf -y install alsa-lib-devel ant autoconf automake bc curl gambit-c
       dnf -y install gcc-14 git grep ImageMagick-devel java-25-openjdk-devel
       dnf -y install libtool libXext-devel make mesa-libGL-devel
       dnf -y install mesa-libGLU-devel netpbm-devel patch perl-FindBin
       dnf -y install portaudio python3-sdkmanager sed tar tcl-devel texlive
       dnf -y install which wget zip
    - name: Get LambdaNative
      run: |
       git clone https://github.com/part-cw/lambdanative
       cd lambdanative
       git checkout b6e82ee343d8ea3c95e277d7e122baae9a5dc096
       cd modules
       rm -rf gps
       git clone https://github.com/rabsss/gps_module gps
    - name: setup android
      run: |
       # https://stackoverflow.com/a/77215395
       # https://computingforgeeks.com/install-and-use-android-studio-on-fedora/
       mkdir -p /home/build/android-sdk
       export ANDROID_HOME=/home/build/android-sdk
       echo yes | sdkmanager --sdk_root=/home/build/android-sdk "platforms;android-28"
       echo yes | sdkmanager --sdk_root=/home/build/android-sdk "build-tools;29.0.3"
       echo yes | sdkmanager --sdk_root=/home/build/android-sdk "tools"
       echo yes | sdkmanager --sdk_root=/home/build/android-sdk "extras;android;m2repository"
       echo yes | sdkmanager --sdk_root=/home/build/android-sdk "ndk-bundle;r28"
       echo yes | sdkmanager --sdk_root=/home/build/android-sdk "platform-tools"
       echo yes | sdkmanager --sdk_root=/home/build/android-sdk --licenses
       # https://coderwall.com/p/r09hoq/android-generate-release-debug-keystores
       # https://stackoverflow.com/a/13578480
       keytool -genkey -v -keystore debug.keystore -storepass android -alias androiddebugkey -keypass android -keyalg RSA -keysize 2048 -validity 10000 -noprompt -dname "CN=Unknown, OU=Unknown, O=Unknown, L=Unknown, S=Unknown, C=Unknown"
    - name: prepare lambdanative
      working-directory: lambdanative
      run : |
       cp SETUP.template SETUP
       sed -i 's/ANDROIDAPI=21/ANDROIDAPI=28/g' SETUP
       sed -i 's|/usr/local/android-sdk-*|/home/build/android-sdk|g' SETUP
       sed -i 's|/usr/local/android-ndk-*|/home/build/android-sdk/ndk-bundle|g' SETUP
       cp PROFILE.template PROFILE
       sed -i 's|SYS_ANDROIDPW="yoursecrethere"|SYS_ANDROIDPW="android"|g' PROFILE
       sed -i 's|SYS_CC="gcc $SYS|SYS_CC="gcc-14 $SYS|g' targets/linux/host_linux
       sed -i 's|SYS_CXX="g++ $SYS|SYS_CXX="g++-13 $SYS|g' targets/linux/host_linux
       sed -i 's|gcc -Werror|gcc-14 -Werror|g' targets/linux/check-libraries
    - name: copy source
      run: |
       cp -r GPSLogging lambdanative/apps
    - name: android builds
      working-directory: lambdanative
      run: |
       # Fedora only provides Python3
       sed -i 's/python/python3/g' targets/android/check-tools
       # Make directory to avoid errors during build
       mkdir -p /home/build/.cache/lambdanative/android/support
       ./configure GPSLogging android
       make
    - uses: actions/upload-artifact@v4
      with:
       name: apk
       path: /github/home/.cache/lambdanative/packages/*.apk

  makesite:
    name: fedora
    runs-on: ubuntu-latest
    needs: build
    container:
      image: fedora:43

    steps:
    - uses: actions/checkout@v4
    - run: cat /etc/os-release
    - name: install dependencies
      run: |
       dnf -y install autoconf automake awk diffutils gcc guile-reader-devel guile-commonmark
       dnf -y install guile30-devel haunt make tar texinfo
    - name: build site
      working-directory: website
      run: haunt build
    - name: Upload static files as artifact
      id: deployment
      uses: actions/upload-pages-artifact@v3
      with:
        path: website/build

  # Deployment job
  deploy:
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: makesite
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
